html{
	font-size: 100%
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	margin : 0 auto;
}

a{
	text-decoration: none;
}

header {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 1000;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);

}
.nav-container {
    background-color: #fff;
    padding: 0;
    height: 75px;
    max-width: 960px;
    margin: 0 auto;
}

.comverse-logo {
	padding: 5px 5px;
	display: inline-block;
	float: left;
}

.nav{
	 list-style-type: none;
	 margin: 0;
}

.nav > li {
	display: block;
	float: left;
	position: relative;
}

.nav > li+li > a {
	text-decoration: none;
	display: block;
	outline: 0;
	padding: 0 11px 10px 11px;
    text-transform: uppercase;
    font-weight: 200;
	background: url(../img/divider.png) left center no-repeat;
	color: rgb(8,8,8);
	background-position-y: -2px;

}
.nav > li> a {
	display: block;
	outline: none;
	padding: 0 11px 10px 11px;
    text-transform: uppercase;
    font-weight: 200;
	color: rgb(8,8,8);
	background-position-y: -2px;
}
.nav > li > a:hover{
	color:#e5e5e5;
}

.nav-side {
	display: inline-block;
	padding-top: 10px;
	color: #a0a0a0;
	padding-left: 70px;
	margin-left: 15px;
}

.lang-select {
	border: none;
    text-decoration: none;
    outline:0;
    /*font-weight:200;*/
    color:#a0a0a0;
    font-size: 12px;
}

.nav-side > a {
	text-decoration: none;
	outline: 0;
	font-weight: 200;
	color: #a0a0a0;
	font-size: 13px;

}

#costumer-login:hover {
	color:#e5e5e5;
}

.navbar {
	font-size: 13px;
	padding-top: 45px;
	float: left;
	position: relative;
}


select + a {
	background: url(../img/divider.png) left center no-repeat;
	padding-left: 8px;
}

 .search-field > input + button {
	padding-left: 3px;
 }


.search-field {
    display: inline-block;
    float:right;
    position:relative;
    padding-top: 10px;
 }

 .search-field input {
 	padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:20px;
    outline: none;
    padding-left: 5px;
    display: inline-block;
    width: 140px;
 }


 .search-field button {
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    position:relative;
    background: url(../img/divider.png) left center no-repeat;
    right:28px;
    top: 1px;
}

.section-container{
	max-width: 960px;
	padding-left: 250px;
}

.section-banner {	
	padding-top:75px;
	background: url(../img/slide-bg-complexity.jpg) no-repeat center fixed;
	background-size: cover;
	background-position: fixed;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    /* -o-background-size: cover;
    background-size: cover;
    z-index:200; */
}


#welcome-text{
	padding-bottom: 20px;
	/*padding-left: 150px;*/
	float: left;
} 

.learn-more-btn {
	font-family: arial;
	color: #FFFFFF !important;
	font-size: 12px;
	padding: 8px 22px;
	
	/* -moz-border-radius: 8px;
	-webkit-border-radius: 8px; */
	
	border-radius: 8px;
	background-color: #63B8EE;
	background: linear-gradient(top,  #3196C9,  #1A8CC6);
	background: -ms-linear-gradient(top,  #3196C9,  #1A8CC6);
	background: -webkit-gradient(linear, left top, left bottom, from(#3196C9), to(#1A8CC6));
	background: -moz-linear-gradient(top,  #3196C9,  #1A8CC6);

	opacity: 0.85;
}

.learn-more-btn:hover {
	opacity: 1;
}


ol.carousel-nav {
	padding: 0px;
}

.carousel-nav  li {
	border-radius: 3px;
    width: 13px;
    height: 13px;
    background-color: #e5e5e5;;
    display: inline-block;
    list-style: none;
    text-align: center;
    float: left;
    margin-left: 3px;

} 

li.selected {
    background-color: #3399CC;
    color: #3399CC;
}

.cubes-list{
	display: inline-block;
	padding: 0;
}

.rounded-cube {
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.85;
    padding: 10px 10px;
    width: 269px;
    cursor: pointer;
}

.rounded-cube:hover {
	opacity: 1;
}

.rounded-cube > section > a {
    color:#FFF;
    font-weight: 600;
    font-size:14px;
}

.cube-green { background:#5eb433; }
.cube-purple { background:#fb429c; }
.cube-orange { background:#ff7519; }

.cube-text {
    padding: 10px;
    margin-top: 0px;
    height: 130px;
}

#link-icon , #text-icon , #play-icon {
	width: 20px;
	height: 20px;
	margin-bottom: -5px;
}

h1,h3{
    color:#FFF;
}

h1 {
	font-weight: 100;
    font-size: 38px;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}

h2{
    font-size:24px;
    color:#FFF;
    font-weight:100;
}

h3 {
	font-weight: 300;
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 0.53em;
}
strong {
  font-weight: 400;
}


